/****MAIN PAGE CONTENT*/
html{
  font: 100%;
}

* {
  box-sizing: border-box;
}

body{
  text-align: center;
  font-size: 1em;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: white;
  font-weight: 300;
}

p{
  margin: 1em 0;
  color: dimgrey;
  line-height: 1.5em;
}

.content_wrapper{
  position: static;
  margin: 2em;
  padding: 2em;
}

/*BIG HEADER*/

.rightArrowblock{
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: left;
  display: block;
  border-bottom: solid 1px #dddddd;
  position: relative;
}

.rightArrowblock:hover > .fa {
  color: #47a3da;
  transform: rotateZ(45deg);
}

h1.header1{
  display: inline-block;
  text-align: left;
  font-size: 2em;
  color: #47a3da;
}



.oatCake{
  text-align: left;
}

.fa-2x{
  margin-right: .4em;
  color: #dddddd;
}

/*SMALL LIST WRAPPER*/
.sublist1_wrapper{
  position: relative;
  margin-left: 2em;
}

/*SMALL BLOCKS*/
.r_smallArrowblock{
  margin: 0;
  padding: 1em 1em 0 0;
  text-align: left;
  display: block;
  position: relative;
}

.r_smallArrowblock:hover > .fa-lg{
  color: #47a3da;
  transform: rotateZ(45deg);
}

.fa-lg {
  font-size: 1em;
  padding: .05em .05em 0.2em .1em;
  margin: 0 .5em 0 0;
  color: #dddddd;
  border: solid 2px;
  border-radius: 50%
}

h3.header3{
  display: inline-block;
  font-size: 1em;
  color: #47a3da;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .3em;
}
